about-time==3.1.1
alive-progress==2.0.0
anyio==3.3.3
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
coverage==5.5
deprecation==2.1.0
docopt==0.6.2
eyed3==0.9.6
filetype==1.0.8
Flask==2.0.2
grapheme==0.6.0
h11==0.12.0
httpcore==0.13.7
httpx==0.20.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
mutagen==1.45.1
packaging==21.0
Pillow==8.4.0
pipreqs==0.4.10
PlexAPI==4.7.2
progress==1.6
pycryptodomex==3.11.0
pydub==0.25.1
pyparsing==2.4.7
python-dotenv==0.19.1
requests==2.26.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
spotipy==2.19.0
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
websockets==10.0
Werkzeug==2.0.2
yarg==0.1.9
youtube-dl==2021.6.6
youtube-search-python==1.4.9
yt-dlp==2021.10.10
